input {
   file {
        path => "/Users/rohitnaikkundaikar/Desktop/elk/logs.txt"
    }
}
filter {
    mutate {
        strip => "message"
    }
    grok {
        match => {
            "message" => "%{INT:day}-%{INT:month}-%{INT:year} %{INT:hour}:%{INT:min}:%{INT:sec}.%{INT:msec} %{GREEDYDATA:info}"
        }
    }

mutate {
        add_field => {
            datetime => "%{year}-%{month}-%{day} %{hour}:%{min}:%{sec}:%{msec}"
        }
    }

date
    {
        match => ["datetime", "YYYY-MM-DD HH:mm:ss:SSS"]
        target => "@timestamp"
    }

mutate {
        split => ["info" , " - "]
        add_field => ["infoA", "%{[info][0]}" ]
        add_field => ["note", "%{[info][1]}" ]
    }

    mutate {
        split => ["infoA" , "] ["]
        add_field => ["infoB", "%{[infoA][2]}" ]
    }
    
    mutate {
        split => ["infoB", " "]
        add_field => ["class", "%{[infoB][0]}" ]
        add_field => ["alert", "%{[infoB][1]}" ]
        add_field => ["method", "%{[infoB][2]}" ]
    }

    mutate {
        gsub => ["class", "]", ""]
    }

      if [alert] not in ["ERROR", "INFO", "DEBUG", "ALL", "WARN", "FATAL", "OFF"] {
    drop { }
  }


mutate {
        remove_field => [host, name, file, original, message, datetime, infoA, infoB, info, year, month, day, hour, sec, msec, min]
    }
}
output {
   file {
        path => "/Users/rohitnaikkundaikar/Desktop/elk/a.txt"
        codec => rubydebug
    }
}
